<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select resultType="MemberDTO" parameterType="hashmap" id="login">
		select m_num,username,userid,passwd,phone,
		post1,post2,addr1,addr2
		from member
		where userid = #{userid} and passwd=#{passwd} </select>


</mapper>













