<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet">



	<insert parameterType="PetDTO" id="addPet">
		insert into pet( p_num,userid,p_kkcnumber,p_name,p_age,p_gender,p_birth,p_type,p_photo,p_feature)
		values( #{p_num},#{userid},#{p_kkcnumber},#{p_name},#{p_age},
		#{p_gender},#{p_birth},#{p_type},#{p_photo},#{p_feature})
	</insert>


<select id="list" resultType="PetDTO" parameterType="String">
	
		select p_num,userid ,p_kkcnumber,p_name,p_age,p_gender,p_birth,p_type,p_photo,p_feature
		from
		pet
		where userid = #{userid}
	</select>
</mapper>













